body {
    width: 100%;
    float: left;
    font-family: Georgia, serif;
    background-image: url("branch.png");
    background-size: auto;
    background-color: black;
    color: white;
    overflow-y: auto;
}

.story_response_player {
    background-color: gainsboro;
    color: black;
    border-radius: 25px;
    padding: 10px;
    font-size: 20px;
}

.story_response_ai {
    background-color: rgb(50, 50, 200);
    color: white;
    border-radius: 25px;
    padding: 10px;
    font-size: 20px;
}

h2 {
    text-align: center;
}

button {
    border-radius: 25px;
    font-family: Georgia, serif;
}

/* .nav_bar {
    background-color: white;
    width: 50px;
} */

ul {
    list-style-type: none;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: gainsboro;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: red;
    color: white;
}

.avatar {
    width: 25%;
    float: left;
    height: 100px;
}

.space {
    width: 5%;
    float: left;
}

.response {
    width: 40%;
    float: left;
    height: 100px;
}

.responses {
    border-radius: 25px;
    /* border: 2px solid whitesmoke; */
    padding-left: 10px;
    padding-right: 10px;
    height: 500px;
    background-color: whitesmoke;
    color: black;
    overflow-y: auto;
}

.char_img,
.char_info {
    display: inline-block;
    margin: auto;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.avatar_box {
    border-radius: 25px;
    /* border: 2px solid black; */
    padding: 10px;
    background-color: whitesmoke;
    color: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(105, 105, 105);
    color: white;
    text-align: center;
}

.center {
    text-align: center;
}

.new_map_btn,
.new_avatar_btn {
    font-size: 20px;
}

.status {
    animation: blinker 2.5s linear infinite;
    font-size: 20px;
    color: lightgoldenrodyellow;
    right: 0%;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}