<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="data:,">

  <!-- jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script> -->


  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

  <title>AI RPG Dungeon Master</title>
</head>

<body>
  <nav class="nav_bar">
    <img src="{{url_for('static', filename='noun-dragon-1646673.png')}}" alt="icon" width="50" height="50"
      onclick="location.href='{{ url_for('home')}}'">
  </nav>

  <h2>
    <label for="story_genre">Choose Your Story Genre: </label>
    <input type="text" id="genre_text" size="12" placeholder="story genre here...">
    <button type="submit" id="genre_btn">Confirm</button>
  </h2>
  <div class="avatar">
    <h2>Create Character</h2>
    <div class="center">
      <button type="button" id="new_avatar_btn" class="new_avatar_btn">Add New Player</button><br><br>
    </div>
  </div>

  <div class="response">
    <h2>Story</h2><br><br>
    <div class="responses"></div>
  </div>

  <div class="world">
    <h2>World</h2>
    <div class="center">
      <button type="button" id="map_btn" class="new_map_btn">Create Area Map</button><br><br>
    </div>
    <div class="areas"></div>
  </div>

  <div class="footer">
    dragon by BGBOXXX Design from <a href="https://thenounproject.com/browse/icons/term/dragon/" target="_blank"
      title="dragon Icons">Noun Project</a> (CC BY 3.0)
  </div>

  {% block content %}
  {% endblock %}
</body>

</html>